.container {
    display: flex;
    background-color: #ffffff;
    flex-flow: row wrap;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
    padding: 20px;
    align-content: flex-start;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

#box1 {
    background-color: #4aaaa5;
    padding: 2px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order: 1;
}

#box1 img {
    height: 150px;
    width: 150px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
}

#box1 p {
    padding: 2px 5px;
}

#box1:hover {
    background-color: #dddddd;
    color: #4aaaa5;
}

#box2 {
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order: 2;
}

#box2 img {
    height: 150px;
    width: 150px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: cover;
}

#box2:hover {
    background-color: #dddddd;
    color: #4aaaa5;
}

#box3 {
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order: 3;
}

#box3 img {
    height: 155px;
    width: 200px;
    vertical-align: baseline;
    object-fit: contain;
}

#box3:hover {
    color: #4aaaa5;
    background-color: #dddddd;
}

#box4 {
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order:4;
}

#box4 img {
    height: 150px;
    width: 150px;
    vertical-align: baseline;
    object-fit: contain;
}

#box4:hover {
    color: #4aaaa5;
    background-color: #dddddd;
}

#box5 {
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order: 5;
}

#box5 img {
    height: 150px;
    width: 150px;
    padding: 3px;
    vertical-align: baseline;
    object-fit: contain;
}

#box5 p {
    padding: 5px 2px;
}

#box5:hover {
    color: #4aaaa5;
    background-color: #dddddd;
}

#box6 {
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 15px 20px;
    flex-grow: 1;
    text-align: center;
    color: #dddddd;
    order: 6;
}

#box6 img {
    height: 155px;
    width: 200px;
    vertical-align: baseline;
    object-fit: contain;
}

#box6:hover {
    color: #4aaaa5;
    background-color: #dddddd;
}