html, body {
    height: 100%;
    color: #777777;
}

body{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-color: #cccccc;
}

.aboutme {
    width: 960px;
    flex: 1 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
}

.selfie {
    align-content: left;
    size: 30%;
}

.footer {
    flex-shrink: 0;
}