html, body {
    height: 100%;
    width: 960px;
    color: #777777;
    background-color: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-color: #cccccc;
}

.aboutme {
    width: 960px;
    flex: 1 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
}

.selfie {
    width: 30%;
    height: 30%; 
    text-align: left; 
    padding: 20px;
    float: left; 
} 

img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.footer {
    flex-shrink: 0;
    border-top: 8px solid #4aaaa5;
}